@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #191e28;
    min-height: 100vh;
}

.Container {
    height: auto;
}

#right-Container {
    width: 70vw;
}

#left-Container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    margin-top: 50px;
}

hr {
    width: 100%;
    border-color: #272e3d;
}

input {
    height: 40px;
    max-width: 100%;
    border: none;
    outline: none;
    border: 1px solid transparent;
    color: #ffffff;
    background-color: #272e3d;
    font-family: "Poppins";
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin: 10px;
}

input:focus {
    border: 1px solid #7769f9;
}

input:not(:focus) {
    border: 1px solid transparent;
}

::placeholder {
    
    color: #858Fa4;
}

.Multi-Select-Container {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10%;
    font-family: "Poppins";
    color: #ffffff;
    position: relative;
}

.Multi-Select-Container .Select-button {
    display: flex;
    height: 40px;
    background-color: #272e3d;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
}

.Select-button i {
    font-size: 20px;
    transition: 0.3s;
}

.Multi-Select-Container.active .Select-button i {
    transform: rotate(-180deg);
}

.Multi-Select-Container .options {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #272e3d;
    max-height: 250px;
    overflow-y: scroll;
}

.Multi-Select-Container .options::-webkit-scrollbar {
    width: 6px;
    background: rgb(33, 33, 33);
    border-radius: 0 8px 8px 0;
}

.Multi-Select-Container .options::-webkit-scrollbar-thumb {
    background-color: #373e4e;
    border-radius: 0 8px 8px 0;
}

.Multi-Select-Container.active .options {
    display: block;
}

.Multi-Select-Container.disabled .Select-button {
    opacity: 0.5;
    pointer-events: none;
}

.options .option {
    display: flex;
    height: 30px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 5px;
    align-items: center;
    background-color: #272e3d;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
}

.option i {
    font-size: 25px;
    margin-right: 10px;
}

.options .option:hover {
    background-color: #202633;
}

button {
    height: 40px;
    max-width: 100%;
    border: none;
    outline: none;
    margin: 10px;
    margin-top: 100%;
    font-family: "Poppins";
    color: #ffffff;
    border-radius: 5px;
    background-color: #7769f9;
    cursor: pointer;
    top: 100%
}

button:hover {
    background-color: #636edd;
}

button:active {
    background-color: #4e59c3;
}